

body {
    background-image: url('/assets/images/dk-background-2.jpg');
    background-size: 300vh; /* need to set media queries for this*/
}

nav {
    background-color: rgba(61, 113, 182, 0.438);
    height: 10rem;
}

.sidenav {
    background-color: rgba(61, 113, 182, 0.808);
    
}

.sidenav li>a {
    color: white;
}
h1 {
    /* font-family: 'VT323', monospace; */
    font-family: 'Syne Mono', monospace;
    font-size: 40px;
    color: white;
}

#dice {
    height: 10rem;
    position: absolute;
    right: 500px;
    bottom: 200px
}
