

body {
    background-image: url('../images/dk-background-2.jpg')!important;
    background-size: 300vh; /* need to set media queries for this*/
}

.nav-wrapper {
    padding: 1.75rem;
}

nav {
    background-color: rgba(61, 113, 182, 0.438)!important;
    height: 8rem;
    /* font-family: 'Fondamento', cursive; */
    font-family: 'Montserrat', sans-serif;
    
}

nav ul a {
    font-size: 1.75rem;

}

.sidenav {
    background-color: rgba(61, 113, 182, 0.808);
    /* font-family: 'Fondamento', cursive; */
    font-family: 'Montserrat', sans-serif;
}

.sidenav li>a {
    color: white!important;

}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    color: white!important;
}

h4 {
    font-family: 'Montserrat', sans-serif;
}
#typewriter {
    height: 2.5rem;
    /* margin-bottom: 1rem; */
}

.info-text {
    color: white;
    margin-top: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem!important;
}

.info-container {
    background-color: rgba(61, 113, 182, 0.438)!important;
    border-radius: 10px;
    margin-top: 3rem!important;
    padding: 1rem;
    margin-bottom: 2rem;
}


#dice {
    height: 10rem;
    position: absolute;
    right: 250px;
    bottom: 200px;
    z-index: -1;
    /* background-image: url('../images/dice2-mblur300.png'); */
    
}

.qc {
    padding-left: 6rem!important;
    padding-right: 6rem!important;
    justify-content: center;
    color: white;
    font-size: 1rem;
}

.furbabies {
    height: 20rem;
    border-radius: 8px;
    padding: 1rem;
}

.example-container {
    justify-content: center;
}

/* .custom-row {
    padding: 2rem;
} */

.resume {
    height: 10rem;
    filter: blur(1px);
}

.resume:hover {
    height: 10.5rem;
    filter: none;
    transition: 1s ease;
}
.github {
    height: 10rem;
    padding: 1rem;
}

.github:hover {
    height: 10.5rem;
    transition: 1s ease;
}

.linkedin {
    height: 3rem;
}

.linkedin:hover {
    height: 3.5rem;
    transition: 1s ease;
}

/* .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
} */

.example-container:hover .overlay {
    opacity: 1;
}

/* blur effect and overlay for examples */
.example-container .screenshot {
    filter: blur(5px);
}

.example-container:hover .screenshot {
    filter: none;
    transition: .5s ease;
}


/* Media Queries for responsiveness */
@media only screen and (max-width: 992px) {
    .nav-wrapper a{
        font-size: 1.5rem;
    }

    #typewriter {
        height: .25rem;
    }

    .about-text {
        margin-top: 5rem;
    }

    /* #dice {
        height: 10rem;
        right: 200px;
        bottom: 100px;
       
    } */
}
  
@media only screen and (max-width: 768px) {
    .nav-wrapper a{
        font-size: 1.25rem;
    }
    #typewriter {
        height: .1rem;
    }

    .about-text {
        margin-top: 5rem;
    }


    #dice {
        height: 7.5rem;
        right: 250px;
        bottom: 125px;
    
    }

    .furbabies {
        height: 10rem;
    }

}
 @media only screen and (max-width: 576px) {
    .nav-wrapper a{
        font-size: 1.1rem;
    
    }


    h1 {
        font-size: 2rem;
    }


}

@media only screen and (max-width: 500px) {
    .nav-wrapper a{
        font-size: .8rem;
     
    }

    body {
        background-size: 150vh; 
    }
    
    h1 {
        font-size: 1.25rem;
    }
    

    /* #dice {
        height: 5rem;
        right: 100px;
        bottom: 100px;
       
    } */

}